{% extends 'music/base1.html' %}
{% block title %}Log In{% endblock %}
{% block login_active %}active{% endblock %}
{% load staticfiles %}
{% block body %}
<!--<html lang="en-US">
<head>
  <meta charset="utf-8">
    <title>Login</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>
    <div id="login" >
      <form name='form-login' action="{% url 'music:login1' %}" method="post" enctype="multipart/form-data">
        <span class="fontawesome-user"></span>
          <input type="text" id="username" placeholder="Username">

        <span class="fontawesome-lock"></span>
          <input type="password" id="password" placeholder="Password">

        <input type="submit" value="Login">

</form>
--><div class="container-fluid">

    <div class="row">
        <div class="col-sm-30 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">

                    {% if error_message %}
                    <h3> <p><strong>{{ error_message }}</strong></p></h3>
                    {% endif %}
                    <h3>Log In</h3>
                    <form class="form-horizontal" role="form" action="{% url 'music:login1' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_username">
                                USERNAME:
                            </label>
                            <div class="col-sm-30 col-sm-2">
                                <input id="id_username" maxlength="30" name="username" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_password">
                                PASSWORD:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_password" maxlength="30" name="password" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Don't have an account? <a href="{% url 'music:register' %}">Click here</a> to register.
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

